<ion-view title="Calcular" id="calcular" class=" ">
  <ion-nav-bar class="bar-royal bar bar-header">
    <ion-nav-back-button style="font-size:1.2em;" class="button-royal" ng-click="myGoBack()">
        <i style="font-size:1.2em;color:#00f2a1;" class="ion-ios-arrow-back padding-right"></i>Cotizaciones
     </ion-nav-back-button>
  </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <div name="totalesCot" class="item item-body ">
            <p id="" style="margin-top:0px;color:#000000;" class=" ">Totales</p>
            <div  class="list">
              <label class="item item-input">
                <span class="input-label">Costo produccion</span>
                <span class="input-label">{{totales.produccion| currency:"COP$ ":0 }}</span>
              </label>
               <label style="background:#e5e5e5" class="item item-input " id="cotizar-tiempo_entrega">
                    <span class="input-label">Costos Fijos (%)</span>
                    <input style="background-color:#e5e5e5 !important; color:#111 !important;" class="agregar-prospecto-input" ng-model="margenesPorcentuales.costosFijos" type="number" min="0" max="100"  step="1" placeholder="Fijos" ng-change="recalcularTotales('fijos')">
                </label>
              <label class="item item-input">
                <span class="input-label">Costos Fijos</span>
                <span class="input-label">{{totales.fijos| currency:"COP$ ":0 }}</span>
              </label>
                <label style="background:#e5e5e5" class="item item-input " id="cotizar-tiempo_entrega">
                    <span class="input-label">Costos Financiacion</span>
                    <input style="background:#e5e5e5" style="background-color:white !important; color:#111 !important;" class="agregar-prospecto-input" ng-model="totales.financiacion" type="number"  placeholder="Costo financiacion" ng-change="recalcularTotales('financiacion')">
                </label>
                <label  class="item item-input">
                    <span class="input-label">Costo Total</span>
                    <span  class="input-label">{{totales.totalProduccion| currency:"COP$ ":0 }}</span>
                </label>
                 <label style="background:#e5e5e5" class="item item-input " id="cotizar-tiempo_entrega">
                    <span class="input-label">MarkUp (%)</span>
                    <input style="background:#e5e5e5" style="background-color:white !important; color:#111 !important;" class="agregar-prospecto-input" ng-model="margenesPorcentuales.markUp" type="number" min="0" max="100" value="2" step="1" placeholder="MarkUp" ng-change="recalcularTotales('markup')">
                </label>
                <label class="item item-input">
                    <span class="input-label">Margen</span>
                    <span class="input-label">{{margenesPorcentuales.margen| percentage:1}}</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">Precio</span>
                    <span class="input-label">{{totales.precioSinIva| currency:"COP$ ":0 }}</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">Precio con IVA</span>
                    <span class="input-label">{{totales.precioConIva| currency:"COP$ ":0 }}</span>
                </label>
            </div>
        </div>
        <div class="item item-body ">
            <div style="padding-bottom:0.5em;"  ng-click="hideProc.hide= !hideProc.hide" >
             Detalle procesos
                <i ng-show="hideProc.hide" style="float: right;" class="icon ion-chevron-down"></i>
                <i ng-show="!hideProc.hide" style="float: right;" class="icon  ion-chevron-up"></i>
            </div>
            <div ng-hide="hideProc.hide" class="animated ">
                <div ng-repeat="procesos in procesosCotizacion">
                    <div ng-hide="procesos.costo_total==0?true:false;">
                        <div style="padding-bottom:0.5em;" class="item item-body " ng-click="procesos.hide= !procesos.hide" >
                        Existen ({{procesosCotizacion[procesos.id_proceso-1].procesos.length}}) procesos en {{procesos.nombre}}
                        <p>Tiempo total: {{procesos.tiempo_total |meses}} --- Costo total: {{procesos.costo_total| currency:"COP$ ":0}}</p>                        <i ng-show="procesos.hide" class="icon ion-chevron-down"></i>
                            <i ng-show="!procesos.hide" class="icon  ion-chevron-up"></i>
                        </div>
                        <div ng-hide="procesos.hide" class="animated ">
                            <div ng-repeat="procesosIndiv in procesos.procesos track by $index">
                                <div class="list card">
                                    <div class="item item-avatar">
                                        <img ng-src="img/{{procesos.nombre}}.png">
                                        <h2 ng-click="procesosIndiv.hide= !procesosIndiv.hide">{{procesos.nombre}} {{$index+1}}--Costo individual:{{procesosIndiv.costo_individual | currency:"COP$ ":0}}--
                                        Opcion elegida: {{procesosIndiv.opciones.valorEscogido}}
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item-body ">
            <div style="padding-bottom:0.5em;"  ng-click="opcionesSeleccionadas.hide= !opcionesSeleccionadas.hide" >
             Opciones seleccionadas
                <i ng-show="opcionesSeleccionadas.hide"  style="float: right;" class="icon ion-chevron-down"></i>
                <i ng-show="!opcionesSeleccionadas.hide"  style="float: right;" class="icon  ion-chevron-up"></i>
            </div>
            <div ng-hide="opcionesSeleccionadas.hide" class="animated ">
                <div  class="list">
                  <label class="item item-input">
                    <span class="input-label">Forma Pago</span>
                    <span class="input-label">{{opcionesSeleccionadas.formaPago }}</span>
                  </label>
                  <label class="item item-input">
                    <span class="input-label">Nombre Producto</span>
                    <span class="input-label">{{opcionesSeleccionadas.nombre_producto }}</span>
                  </label>
                  <label class="item item-input">
                    <span class="input-label">Prospecto</span>
                    <span class="input-label">{{opcionesSeleccionadas.prospectoSeleccionado.razonSocial}} - {{opcionesSeleccionadas.prospectoSeleccionado.email}}</span>
                  </label>
                  <label class="item item-input">
                    <span class="input-label">Tiempo entrega</span>
                    <span class="input-label">{{opcionesSeleccionadas.tiempo_entrega }}</span>
                  </label>
                  <div class="item item-body" >
                    <p id="" style="margin-top:0px;color:#000000;" class=" ">Requisitos</p>
                    <div  class="list">
                        <label  ng-repeat="requerimientos in opcionesSeleccionadas.requisitos track by $index" class="item item-input">
                            <span class="input-label">{{$index+1}}. {{requerimientos.valor}}</span>
                        </label>
                    </div>
                  </div>
                </div>
            </div>
        </div>
            <div id="" class=" button-bar ">
               <!-- <a ng-click="exportarCotizacion()" id="" class=" button button-dark  button-block button-outline ">Exportar</a> -->
                <a ng-click="guardarCotizacion()" id="" class=" button button-dark  button-block button-outline ">Guardar</a>
                <a ng-click="cancelarCotizacion()" id="" class=" button button-dark  button-block button-outline ">Cancelar</a>
            </div>
        </div>
    </ion-content>
</ion-view>
