<ion-view cache-view="false" title="cambiarPassword" hide-nav-bar="true" id="cambiarPassword" class="">
    <ion-content style="background:linear-gradient(#c0e060,#00a6a6);" padding="false" class="manual-ios-statusbar-padding" >

        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Cambiar Contraseña</h1>
            </div>
        </div>
        <div  class="signup-form">

            <ion-list id="" class="signup-form-container">

                <label class="item item-input " id="signup-password">
                    <span class="input-label">Nueva Contraseña</span>
                    <input class="signup-input" ng-model="newPassword.password" type="password" placeholder="contraseña">
                </label>
                <label class="item item-input " id="signup-repasword">
                    <span class="input-label">Repetir Contraseña</span>
                    <input class="signup-input" ng-model="newPassword.repassword" type="password" placeholder="">
                    <spans style="color:red;" ng-hide="newPassword.password == newPassword.repassword">Contraseñas no coinciden</span>
                </label>
            </ion-list>
            <button ng-click="intentarCambioPassword()" id="login-login" class=" button button-dark  button-block ">Sign up</button>
            <button ui-sref="login" type="submit" id="login-login" class=" button button-dark  button-block ">Cancelar</button>


    </div>

    </ion-content>
</ion-view>
