<ion-view title="Editar Prospecto" id="agregar-prospecto" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="background-color:white; color:#111;" class="item item-body " id="agregar-prospecto">
            <h2 id="" style="margin-top:0px;color:#000000;" class=" ">Informacion de Prospecto</h2>
                <label  class="item item-input " id="agregarProspecto-razonSocial">
                    <span class="input-label">Razon Social</span>
                    <input style="background-color:white !important; color:#111 !important;" class="agregar-prospecto-input" ng-model="infoProspecto.razonSocial" name="razonSocial" type="text"  placeholder="">          
                </label>
                <label class="item item-input " id="agregarProspecto-nit">
                    <span class="input-label">NIT</span>
                    <input style="background-color:white !important; color:#111 !important;" class="agregar-prospecto-input" ng-model="infoProspecto.nit" type="tel"  placeholder="">
                </label>
                <label class="item item-input " id="agregarProspecto-direccion">
                    <span class="input-label">Direccion</span>
                    <input style="background-color:white !important; color:#111 !important;" class="agregar-prospecto-input" ng-model="infoProspecto.direccion" type="text"  placeholder="">
                </label>
                <label class="item item-input " id="agregarProspecto-email">
                    <span class="input-label">Email</span>
                    <input style="background-color:white !important; color:#111 !important;" class="agregar-prospecto-input" ng-model="infoProspecto.email" type="email"  placeholder="">
                </label>
                <label class="item item-input " id="agregarProspecto-telefono">
                    <span class="input-label">Telefono</span>
                    <input style="background-color:white !important; color:#111 !important;" class="agregar-prospecto-input" ng-model="infoProspecto.telefono" type="tel"  placeholder="">
                </label>
               
               <button ng-click="editarProspecto()"  id="" class=" button button-dark  button-block button-outline ">Editar</button>
               <button ui-sref="app.prospectos" class=" button button-dark  button-block button-outline ">Cancelar</button>
        </div>
    </ion-content>
</ion-view>