<ion-view title="Informacion" id="informacion" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="informacion-card21">
            <div class=" item item-image">
                <img src="img/VvKxYRzyLmUFD8osn7AM_logo-epix.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <h3 id="" style="color:#000000;" class=" ">Cotizador Epix Studios</h3>
            <p id="" style="color:#000000;text-align:justify;" class=" ">La aplicacion de cotizacion de Epix Studios es una herramienta que permite realizar una estimacion del costo de un proceso de produccion, considerando los diferentes componentes de este y mediante su costo y dificultad calcular una aproximacion
                de el valor final.</p>
        </div>
    </ion-content>
</ion-view>