<ion-view title="Inicio" hide-back-button="true" id="inicio" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="home-card22">
            
            <h1 id="" style="color:#010202;text-align:center;" class=" ">Cotizador Epix Studios</h1>
            <p id="" style="color:#000000;font-size:17px;text-align:center;" class=" ">Para empezar ve al menu y selecciona una opcion</p>
            <button class="button button-stable  button-block button-icon icon ion-log-out" ng-click="logout()">Logout</button>            
        </div>
    </ion-content>
</ion-view>