<ion-view cache-view="false"   title="Lista de Cotizaciones" id="lista-cotizaciones" class=" ">
  <ion-nav-buttons side="right">
      <button class="button  button-clear" menu-toggle="right">  Menu
      <i style="color:#00f2a1;" class="icon ion-navicon padding-left "></i></button>
  </ion-nav-buttons>
    <ion-content   style="background-color:#e5e5e5;" padding="true" class="has-header">
        <div class=" " >

            <div ng-repeat="prospectos in cotizacionesProspectos">
                <div class="item item-body" ng-hide="prospectos.cotizaciones == null || prospectos.cotizaciones.length == 0">
                    <div style="padding-bottom:0.5em; margin-top:0px;color:#000000; font-weight: bold;font-size: 120%;"  ng-click="prospectos.hide= !prospectos.hide" >
                    {{prospectos.razonSocial}}
                       <i ng-show="prospectos.hide" style="float: right;" class="icon ion-chevron-down"></i>
                       <i ng-show="!prospectos.hide" style="float: right;" class="icon  ion-chevron-up"></i>
                   </div>
                    <div ng-hide="prospectos.hide" class="animated ">
                        <div class="item item-body " id="listaDeCotizaciones">
                            <ion-list ng-repeat="cotizacion in prospectos.cotizaciones" class=" ">
                                <div ng-show="cotizacion.estado=true" class="item item-body">
                                    <div style="padding-bottom:0.5em; margin-top:0px;color:#000000; font-weight: light;"  ng-click="cotizacion.hide= !cotizacion.hide" >
                                         Cotizacion {{$index+1}} - {{cotizacion.fecha}}
                                        <i ng-show="cotizacion.hide" style="float: right;" class="icon ion-chevron-down"></i>
                                        <i ng-show="!cotizacion.hide" style="float: right;" class="icon  ion-chevron-up"></i>
                                    </div>
                                    
                                    <div ng-show="cotizacion.hide" class="animated ">
                                        <div name="totalesContainer" class="list ">
                                            <div style="padding-bottom:0.5em;"  ng-click="cotizacion.hide= !cotizacion.hide" >
                                             Totales
                                            </div>                                            
                                            <label class="item item-input">
                                                <span class="input-label">Costo Total</span>
                                                <span class="input-label">{{cotizacion.costo_total| currency:"COP$ ":0 }}</span>
                                            </label>
                                            <label class="item item-input">
                                                <span class="input-label">Financiacion</span>
                                                <span class="input-label">{{cotizacion.financiacion| currency:"COP$ ":0 }}</span>
                                            </label>
                                            <label class="item item-input">
                                                <span class="input-label">MarkUp</span>
                                                <span class="input-label">{{cotizacion.markup/100| percentage:1}}</span>
                                            </label> 
                                             <label class="item item-input">
                                                <span class="input-label">Costos Fijos</span>
                                                <span class="input-label">{{cotizacion.costos_fijos/100| percentage:1}}</span>
                                            </label>                                        
                                        </div>


                                        <div name="procesosContainer" class="item item-body ">
                                            <div style="padding-bottom:0.5em;"  ng-click="hideProc.hide= !hideProc.hide" >
                                             Detalle procesos
                                                <i ng-show="hideProc.hide"  class="icon ion-chevron-up"></i>
                                                <i ng-show="!hideProc.hide"  class="icon  ion-chevron-down"></i>
                                            </div>
                                            <div ng-hide="!hideProc.hide" class="animated ">
                                                <div ng-repeat="procesos in cotizacion.procesosCotizacion">
                                                    <div ng-hide="procesos.costo_total==0?true:false;">
                                                        <div style="padding-bottom:0.5em;" class="item item-body " ng-click="procesos.hide= !procesos.hide" >
                                                            <div class="row responsive-sm">
                                                                <p class="col">Existen ({{cotizacion.procesosCotizacion[procesos.id_proceso-1].procesos.length}}) procesos en {{procesos.nombre}}</p>
                                                                <p class="col">Tiempo total: {{procesos.tiempo_total |meses}}</p>
                                                                <p class="col">Costo total: {{procesos.costo_total| currency:"COP$ ":0}}</p>
                                                                <div class="col"><i ng-show="procesos.hide" class="col icon ion-chevron-down"></i>
                                                                <i ng-show="!procesos.hide" class="col icon  ion-chevron-up"></i></div>
                                                            </div>
                                                            <div ng-hide="procesos.hide" class="animated">
                                                                <div class="list">
                                                                    <div ng-repeat="procesosIndiv in procesos.procesos track by $index">          
                                                                        <div class="card">
                                                                            <h2 ng-click="procesosIndiv.hide= !procesosIndiv.hide">{{procesos.nombre}} {{$index+1}}
                                                                            <p>Costo unidad:{{procesosIndiv.costo_individual | currency:"COP$ ":0}}</p>
                                                                            <p>Opcion: {{procesosIndiv.opciones.valorEscogido}}</p>
                                                                            
                                                                            </h2>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div name="opcionesContainer" class="item item-body ">
                                            <div style="padding-bottom:0.5em;"  ng-click="cotizacion.opcionesCotizacion.hide= !cotizacion.opcionesCotizacion.hide" >
                                             Opciones seleccionadas
                                                <i ng-show="cotizacion.opcionesCotizacion.hide" class="icon ion-chevron-down"></i>
                                                <i ng-show="!cotizacion.opcionesCotizacion.hide" class="icon  ion-chevron-up"></i>
                                            </div>
                                            <div ng-hide="cotizacion.opcionesCotizacion.hide" class="animated ">
                                                <div  class="list">
                                                  <label class="item item-input">
                                                    <span class="input-label">Forma Pago</span>
                                                    <span class="input-label">{{cotizacion.opcionesCotizacion.formaPago }}</span>
                                                  </label>
                                                  <label class="item item-input">
                                                    <span class="input-label">Nombre Producto</span>
                                                    <span class="input-label">{{cotizacion.opcionesCotizacion.nombre_producto }}</span>
                                                  </label>
                                                  <label class="item item-input">
                                                    <span class="input-label">Tiempo entrega</span>
                                                    <span class="input-label">{{cotizacion.opcionesCotizacion.tiempo_entrega }}</span>
                                                  </label>
                                                  <div class="item item-body" >
                                                    <p id="" style="margin-top:0px;color:#000000;" class=" ">Requisitos</p>
                                                    <div  class="list">
                                                        <label  ng-repeat="requerimientos in cotizacion.opcionesCotizacion.requisitos track by $index" class="item item-input">
                                                            <span class="input-label">{{$index+1}}. {{requerimientos.valor}}</span>
                                                        </label>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div  class="item button-bar ">
                                            <button on-hold="mostrarToast('Eliminar Cotizacion')" ng-click="eliminarCotizacion(prospectos.id_prospecto,cotizacion.id_cotizacion)" id="cotizaciones-button20" class=" button button-stable  button-block button-icon icon ion-android-delete "></button>
                                            <button on-hold="mostrarToast('Ver PDF')" ng-click='descargarpdf(cotizacion.id_cotizacion)' id="cotizaciones-button20" class=" button button-stable  button-block button-icon icon ion-android-arrow-down "></button>                                            
                                            <button on-hold="mostrarToast('Archivar Cotizacion')" ng-click='archivar( prospectos.id_prospecto,cotizacion.id_cotizacion)' id="cotizaciones-button20" class=" button button-stable  button-block button-icon icon ion-android-upload "></button>

                                           <!-- <button on-hold="mostrarToast('Copiar a nueva Cotizacion')" ng-click='copiarNuevaCotizacion(cotizacion)' id="cotizaciones-button20" class=" button button-stable  button-block button-icon icon ion-ios-copy "></button> -->
                                            
                                            </div>
                                    </div>
                                </div>
                            </ion-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
