<ion-view cache-view="false" view title="Recuperar Contraseña" name="recuperarPass-view" title="Recuperacion" hide-nav-bar="true" id="recuperarPass" class=" ">
    <ion-content style="background:linear-gradient(#c0e060,#00a6a6);" padding="false" class="manual-ios-statusbar-padding" scroll="false">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <div style="margin-bottom:5em;color:white;">
                  <h1 style="color:#2a2b2e;">Recuperar Contraseña </h1>
                  <div style="width: 50%; margin:auto;">
                      <p style="color:#2a2b2e;font-weight: lighter;  vertical-align: middle; font-size:medium" > Tienes problemas para conectarte? Ingresa tu email y se enviara un mensaje de verificacion a tu correo actual con un link que te guiara para modificar tu contraseña</p>
                  </div>
                </div>
            </div>
        </div>
          <div class="signup-form">
            <label style="font-size:3em; margin:0.1em;border-style:none;" class="item item-input">
              <i class="icon ion-ios-email placeholder-icon"></i>
              <input ng-model="recuperarPass.email" type="email" placeholder="Email" autocorrect="off" autocapitalize="off">
            </label>
          <button ng-click="intentarRecuperarPass()" id="login-login" class=" button button-royal  button-block ">Continuar</button>
        <button ui-sref="login" type="submit" id="login-login" class=" button button-royal  button-block ">Cancelar</button>
      </div>

    </ion-content>
</ion-view>
